<!-- footer上部连接 -->

	<div class="footer-p">
		<p>如有任何疑问或需要帮助，请致电万宝龙客户服务中心 400 6088 588</p>
	</div>

	<div class="iFooter-top">
		<dl>
			<dt>服务</dt>
			<dd><a href="javascript:;">个性化购物</a></dd>
			<dd><a href="javascript:;">篆刻与压印</a></dd>
			<dd><a href="javascript:;">礼品包装</a></dd>
			<dd><a href="javascript:;">发货和配送</a></dd>
			<dd><a href="javascript:;">退货和保障</a></dd>
			<dd><a href="javascript:;">在线下单，门店自提</a></dd>
		</dl>
		<dl>
			<dt>帮助</dt>
			<dd><a href="javascript:;">客户服务</a></dd>
			<dd><a href="javascript:;">常见问题解答</a></dd>
			<dd><a href="javascript:;">腕表保养</a></dd>
			<dd><a href="javascript:;">书写工具保养</a></dd>
			<dd><a href="javascript:;">皮具护理</a></dd>
			<dd><a href="javascript:;">珠宝保养</a></dd>
			<dd><a href="javascript:;">沪ICP备14014303号-1</a></dd>
			<dd><a href="javascript:;">中国工商</a></dd>
		</dl>
		<dl>
			<dt>关于</dt>
			<dd><a href="javascript:;">公司</a></dd>
			<dd><a href="javascript:;">联系我们</a></dd>
			<dd><a href="javascript:;">求职</a></dd>
		</dl>

		<!-- 最有边网站相关 -->
		<dl>
			<dt>电子邮箱注册</dt>
			<dd><input class="tex" type="text" name="" placeholder="订阅我们的月度期刊"><a href="javascript:;"><i class="iconfont icon-iconset0416"></i></a></dd>
			<dd>关注我们</dd>
			<dd>
				<a href="javascript:;"><i class="iconfont icon-weixin"></i></a>
				<a href="javascript:;"><i class="iconfont icon-weibo"></i></a>
				<a href="javascript:;"><i class="iconfont icon-youku"></i></a>
			</dd>
			<dd>付款方式</dd>
			<dd>
				<a href="javascript:;"></a>
				<a href="javascript:;"></a>
				<a href="javascript:;"></a>
			</dd>
			<dd>沪公网安备 31010602002433号</dd>
		</dl>
	</div>

<!-- footer下方其他信息 -->
<div class="footer-bottom">
	<div class="iFooter-bottom">
		<div class="footer-bottom-left">
			<a href="javascript:;">&copy;2018 Montblanc</a>
			<a href="javascript:;">条款和法律</a>
			<a href="javascript:;">隐私和安全</a>
		</div>
		<div class="footer-bottom-right">返回顶部<i class="iconfont icon-shang"></i></div>
	</div>
</div>