<!-- header版心 -->
<div id="black"></div>
<div class="iHeader">
	<!-- 头部左边汉堡菜单和搜索 -->
	<div class="iHeader-left">
		<!-- 汉堡菜单 -->
		<a href="javascript:;"><i class="iconfont icon-hanbaocaidanzhedie"></i></a>
		<!-- 搜索 -->
		<a href="javascript:;"><i class="iconfont icon-fangdajing"></i></a>
	</div>
	<!-- logo -->
	<div class="iHeader-logo">
		<h1><a href="/index.html"></a></h1>
	</div>
	<!-- 头部右边 -->
	<div class="iHeader-right">
		<a><span id="login">登录</span><span id="register">注册</span></a>
		<i class="iconfont icon-ren"></i>
		<a href="/html/wishlist.html"><i class="iconfont icon-thin-_bookmark_t" id="collectBtn"></i></a>
		<a href="/html/basket.html"><i class="iconfont icon-gouwudai" id="cartBtn"></i><span id="headerNum">0</span></a>
	</div>
</div>