@import "./components/base.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "../libs/font/iconfont.css";

.inner-basket{
	width: 1190px;
	min-height: 560px;
	margin: 0 auto;
	font-size: 17px;
	.basket-header{
		box-sizing: border-box;
		float: left;
		width: 100%;
		padding: 40px 0 30px;
		margin: 0 10px;
		border-bottom: 1px solid #000;
	}
	.basket-list{
		float: left;
		width: 100%;
		text-align: center;
		p{
			margin-top: 38px;
			font-size: 14px;
			font-weight: 900;
		}
		img{
			display: block;
			margin: 0 auto;
			margin-top: 44px
		}
		a{
			cursor: pointer;
			color: #fff;
			line-height: 44px;
			display: block;
			margin: 0 auto;
			width: 140px;
			height: 44px;
			font-size: 12px;
			background-color: #000;
			i{
				margin-right: 10px;
			}
		}
	}
}