@import "./components/base.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "../libs/font/iconfont.css";

.new-banner{
	height: 360px;
	margin: 20px 0 43px;
	text-align: center;
}
.new-nav{
		width:1190px;
		height: 36px;
		margin: 0 auto;
		padding-left: 44px;
		ul{
			height: 14px;
			li{
				height: 14px;
				float: left;
				border-right: 1px solid #000;
				padding-left: 9px;
				padding-right: 9px;
				a{
					display: block;
					color: #000;
					height: 14px;
					font-size: 12px;
					font-weight: 500;
					line-height: 14px;
				}
			}
			:last-child{
						border: none;
			};
		}
	}
.new-list{
	width: 1190px;
	height: 1740px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	dl{
		padding: 16px;
		width: 292px;
		height: 392px;
		dt{
			position: relative;
			width: 235px;
			height: 235px;
			img{
				position: absolute;
				width: 100%;
				height: 100%
			}
			.new-ac{
				display: block;
			}
		}
		dd{
			width: 100%;
			text-align: center;
			font-size: 12px;
			p:nth-child(2){
				margin: 17px 0;
			}
			a{
				cursor: pointer;
				color: #fff;
				line-height: 44px;
				display: block;
				width: 100%;
				height: 44px;
				background-color: #000;
				i{
					margin-right: 10px;
				}
			}
		}
		.new-no{
				display: none;
			}
	}
	dl:hover{
		border: 1px solid #000;
		.new-no{
			display: block;
			}
		};
}