@import "./components/base.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/item.scss";
@import "../libs/font/iconfont.css";

.new-banner{
	height: 360px;
	margin: 20px 0 43px;
	text-align: center;
}
.new-nav{
		width:1190px;
		height: 36px;
		margin: 0 auto;
		padding-left: 44px;
		ul{
			height: 14px;
			li{
				height: 14px;
				float: left;
				border-right: 1px solid #000;
				padding-left: 9px;
				padding-right: 9px;
				a{
					display: block;
					color: #000;
					height: 14px;
					font-size: 12px;
					font-weight: 500;
					line-height: 14px;
				}
			}
			:last-child{
						border: none;
			};
		}
	}
#new-list{
	width: 1190px;
	height: 1740px;
	margin: 0 auto;
	 display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}