@import "./components/base.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "../libs/font/iconfont.css";

.inner-wishlist{
	width: 1190px;
	min-height: 810px;
	margin: 0 auto;
	.wishlist-header{
		display: block;
		border-bottom: 1px solid #000;
		margin-top: 48px;
		margin-bottom: 48px;
		height: 24px;
		font-size: 16px
	}
	.wishlist-footer{
		border-top: 1px solid #000;
		line-height: 48px;
		font-size: 12px;
	}
}