@import "./components/base.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "../libs/font/iconfont.css";

.inner-wishlist{
	width: 1190px;
	min-height: 810px;
	margin: 0 auto;
	.wishlist-header{
		display: block;
		border-bottom: 1px solid #000;
		margin-top: 48px;
		margin-bottom: 48px;
		height: 24px;
		font-size: 16px
	}
	.wishlist-list{
		// float: left;
		width: 100%;
		text-align: center;
		p{
			margin-top: 38px;
			font-size: 14px;
			font-weight: 900;
		}
		img{
			display: block;
			margin: 0 auto;
			margin-top: 44px
		}
		a{
			cursor: pointer;
			color: #fff;
			line-height: 44px;
			display: block;
			margin: 0 auto;
			width: 140px;
			height: 44px;
			font-size: 12px;
			background-color: #000;
			i{
				margin-right: 10px;
			}
		}
	}
	.wishlist-footer{
		margin-top: 150px;
		border-top: 1px solid #000;
		line-height: 48px;
		font-size: 12px;
	}
}